
@{
    ViewData["Title"] = "About";
}

<h1>About Me</h1>
<ul>
    <li>Name: Justin Oskam</li>
    <li>Student Number: 100851894</li>
    <li>Course Code: COMP 2139 Advanced Web App Development</li>
    <li>Program: Computer Programming & Analysis</li>
</ul>

