@{
    ViewData["Title"] = "COMP2139 Labs Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page for the COMP2139 - Advanced Web App Development Lab(s).</p>
</div>
