<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Project Management Application - <a asp-area="" asp-controller="Home" asp-action="About">Justin Oskam</a>
    </div>
</footer>