<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-cube"></i> Project Management Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form asp-controller="Home" asp-action="GeneralSearch" class="d-flex" method="get">
            <input class="form-control" type="text" placeholder="Search" name="searchString" />
            <select class="form-control btn btn-secondary dropdown-toggle" name="searchType">
                <option value="Projects">Projects</option>
                <option value="Tasks">Tasks</option>
            </select>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><i class="fa-solid fa-address-card"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="ProjectManagement" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-list"></i> Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>